@import '../styles/vars'

.{$prefixCls + -pagination}
    &-pages
        margin: $pagination-offset
        color: $font-color

    &-page-index
        font-wight: bold
        color: $primary-color
